---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
import WaveDivider from "../components/WaveDivider.astro";
import Posts from "../components/Posts.astro";
import Socials from "../components/Socials.astro";

const variables = {
  name: "Arthur Delbeke",
  subtitles:
    "Software Engineer since 2020, based in Paris. Former professional athlete with national titles, still addicted to sports. Dad of two cats.",
};
---

<Layout title={variables.name}>
  <main>
    <div class="animate-on-scroll">
      <Intro name={variables.name} subtitle={variables.subtitles} />
    </div>
    <WaveDivider color="rosewater" speed={100} size={0.8} direction="left" />

    <div class="animate-on-scroll">
      <Projects />
    </div>
    <WaveDivider color="flamingo" speed={100} size={0.8} direction="right" />

    <div class="animate-on-scroll">
      <Posts />
    </div>
    <WaveDivider color="pink" speed={100} size={0.8} direction="right" />

    <div class="animate-on-scroll">
      <Socials />
    </div>
  </main>
</Layout>
